###
### $Id$
###

## Imported methods
import(methods)
import(tcltk)
import(tclish)
importFrom(SuperCurve, is.SCProgressMonitor)
importFrom(SuperCurve, spatialCorrection)
importClassesFrom(SuperCurve, BoundedRange)
importClassesFrom(SuperCurve, ProgressMonitor, DefaultProgressMonitor)
importClassesFrom(SuperCurve, SCProgressMonitor)
importMethodsFrom(SuperCurve, progressDone, "progressDone<-")
importMethodsFrom(SuperCurve, progressError, "progressError<-")
importMethodsFrom(SuperCurve, progressLabel, "progressLabel<-")
importMethodsFrom(SuperCurve, progressMarquee, "progressMarquee<-")
importMethodsFrom(SuperCurve, progressMaximum, "progressMaximum<-")
importMethodsFrom(SuperCurve, progressMinimum, "progressMinimum<-")
importMethodsFrom(SuperCurve, progressStage, "progressStage<-")
importMethodsFrom(SuperCurve, progressValue, "progressValue<-")
importMethodsFrom(SuperCurve, elapsed)
importMethodsFrom(SuperCurve, paramString)

## Public functions
export(supercurveGUI)
export(scui)

