###
### NAMESPACE
###

## Public functions

# Dialog boxes
export(askokcancel)
export(askquestion)
export(askretrycancel)
export(askyesno)
export(showerror)
export(showinfo)
export(showwarning)

# Options Database
export(optiondb_add)
export(optiondb_get)
export(optiondb_readfile)

# Widgets
export(tkOptionMenu)
export(tkSeparator)
export(tklabelframe)
export(tkspinbox)

# Notebook
export(notebook_create)
export(notebook_display)
export(notebook_page)

# Progress Bar
export(progressbar_create)
export(progressbar_updatebarcolor)
export(progressbar_value)

# Tabbed Notebook
export(tabnotebook_create)
export(tabnotebook_display)
export(tabnotebook_page)

# OS Menu Access
export(tkapplemenu)
export(tkhelpmenu)
export(tksystemmenu)

# Miscellaneous
export(is.tclVar)
export(tclafter)
export(tclafter.cancel)
export(tclafter.idle)
export(tclafter.info)
export(tclcatch)
export(tclinfo)
export(tclinfo.exists)
export(tclpackage.require)
export(tclupdate)
export(tktk)
export(tktk.appname)
export(tktk.caret)
export(tktk.scaling)
export(tktk.useinputmethods)
export(tktk.windowingsystem)
export(tkwinfo.cells)
export(tkwinfo.children)
export(tkwinfo.class)
export(tkwinfo.colormapfull)
export(tkwinfo.containing)
export(tkwinfo.depth)
export(tkwinfo.exists)
export(tkwinfo.fpixels)
export(tkwinfo.geometry)
export(tkwinfo.height)
export(tkwinfo.id)
export(tkwinfo.ismapped)
export(tkwinfo.manager)
export(tkwinfo.name)
export(tkwinfo.parent)
export(tkwinfo.pixels)
export(tkwinfo.pointerx)
export(tkwinfo.pointerxy)
export(tkwinfo.pointery)
export(tkwinfo.reqheight)
export(tkwinfo.reqwidth)
export(tkwinfo.screenheight)
export(tkwinfo.screenwidth)
export(tkwinfo.toplevel)
export(tkwinfo.viewable)
export(tkwinfo.visual)
export(tkwinfo.width)
export(tkwinfo.x)
export(tkwinfo.y)

